body,h1,h2,ul,li,p,header{
    margin:0px;
    padding:0px;
    list-style:none;
}

@font-face {
    font-family: Title;
    src: url(../Fontes/BungeeShade-Regular.ttf);
}
@font-face {
    font-family: SubTitle;
    src: url(../Fontes/LobsterTwo-Italic.ttf);
}
@font-face {
    font-family: Text;
    src: url(../Fontes/Lato-Regular.ttf);
}

body{
    background-color: #F2CDA0; 
    
}
.logo{
    width:280px;
    height:127px;
    float:left;
}
.menu{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color:#593718;
    width: 100%;
}
.menu ul{
    display:flex;
    flex-wrap:wrap;
    padding:10px;
}
.menu li a{
    display:block;
    padding-right: 5px;
    margin-right: 10px;
    color: #BF8049;
    text-decoration: none;
    font-family: Text;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    border-right: 1px groove #F2CDA0;
}
h2{
    text-align: center;
    padding: 5px;
    margin:30px;
    border-bottom: 1px groove #222326 ;
    border-top: 1px groove #222326 ;

}
h2,h1{
    font-family: Title;
    color:#593718;
}
h3{
    font-family: subTitle;
    color:#BF8049;
}

h4{
    font-family: subTitle;
    color:#222326;
}

p, a, li{
    font-family: Text;
    color:#222326;
}
#except{
    border:none;
    padding-bottom:25px;
    padding-top:25px;
    padding-right: 300px;
    text-align:center;
}

.menu li a:hover{
    background-color:#F2CDA0;
    font-weight: bold;
    color:#593718;
}

#primeiro{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    
}

#bt{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.rodape {
    
    background-color: #593718;
    padding: 20px;
    text-align: center;
}

.rodape p {
  color: #F2CDA0;
}